body {
    color: #999;
}

.rowTable {
  width: 488px;
  display: flex;
}

.cellTable {
  display: block;
  width: 120px;
  height: 120px;
  background-color: lightgray;
  border: solid 1px black;
}

.goblin {
    width: 120px; 
    height: 120px; 
    background-image: url("../img/goblin.png");
}

.beginButton {
  margin-top: 20px;
  margin-left: 183px;
  width: 120px; 
  height: 40px; 
  border: solid 1px brown;
  border-radius: 5px;
  background-color: red;
}

.hidden {
  display: none;
}